//Colores
$white      : #fff;
$black      : #0b0b0b;
$primary-blue: #39add1;

$fawn       : #F3C598;
$sable      : #BD8852;
$red        : #933310;
$stone      : #52595f;


// breakpoints
$break-xxs : 425px;
$break-xs  : 575px;
$break-s   : 576px;
$break-m   : 768px;
$break-l   : 992px;
$break-xl  : 1024px;
