.logo{
  margin: 1em auto;
  width: 15%;
}

//Logo Text display at large and small media sizes
.st1{
  display: none;
}

@include mq (xxsmall){
// @media (min-width: 425px) {
  .st1 {
    display: initial;
  }
  .logo-text {
    display: none;
  }
}

#Layer_1:hover{
  .st2{
  animation: pulse 0.3s linear 1;
  transform-origin:70px 69px;
}
}
@keyframes pulse{
  50%  {transform: scale(0.8);}
}




//inherited color values for currentColor on svg paths
.red-pup{
  color: $red;
}
.fawn-pup{
  color: $fawn;
}
.sable-pup{
  color: $sable;
}
.stone-pup{
  color: $stone;
}





// .iconified{
//   background: transparent url(../svgs/nav-contact.svg) scroll no-repeat left center;
//   padding: 2px 5px 2px 20px;
// }
